<header class="grid">
  <h1><%= @list.name %></h1>
  <div>
    <%= link_to(
      "Remove",
      list_path(@list),
      style: "margin-right: 1rem",
      data: {
        turbo_method: "delete",
        turbo_confirm:
          "Are you sure you want to remove this list and all of it's items?",
      },
    ) %>
    <%= link_to "Edit", edit_list_path(@list), role: "button", class: "outline" %>
  </div>
</header>
<p><%= @list.description %></p>
